In [138]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt  
import numpy as np
import seaborn as sns
import warnings
import time
from sklearn.preprocessing import StandardScaler, FunctionTransformer
from sklearn.pipeline import Pipeline
from datetime import datetime
from sklearn.cluster import KMeans

In [7]:
warnings.filterwarnings("ignore", category=FutureWarning)

In [104]:
df = pd.read_excel("online_retail_II.xlsx")  #loaded the file and saved the excel sheet into the variable df

In [11]:
df.head(100)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,489441,22111,SCOTTIE DOG HOT WATER BOTTLE,48,2009-12-01 09:44:00,4.25,18087.0,United Kingdom
96,489442,21955,UNION JACK GUNS & ROSES DOORMAT,2,2009-12-01 09:46:00,6.75,13635.0,United Kingdom
97,489442,22111,SCOTTIE DOG HOT WATER BOTTLE,3,2009-12-01 09:46:00,4.95,13635.0,United Kingdom
98,489442,22296,HEART IVORY TRELLIS LARGE,12,2009-12-01 09:46:00,1.65,13635.0,United Kingdom
99,489442,84899E,YELLOW + BROWN BEAR FELT PURSE KIT,12,2009-12-01 09:46:00,1.25,13635.0,United Kingdom

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [76]:
df.duplicated().any()

True

In [15]:
#resetting the dispay of columns so I can view more columns and better understand the data. 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [46]:
df.head(100)                    # studying the first 100 rows to better understand the invoice grouping

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom
10,489435,22195,HEART MEASURING SPOONS LARGE,24,2009-12-01 07:46:00,1.65,13085.0,United Kingdom
11,489435,22353,LUNCHBOX WITH CUTLERY FAIRY CAKES,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
12,489436,48173C,DOOR MAT BLACK FLOCK,10,2009-12-01 09:06:00,5.95,13078.0,United Kingdom
13,489436,21755,LOVE BUILDING BLOCK WORD,18,2009-12-01 09:06:00,5.45,13078.0,United Kingdom
14,489436,21754,HOME BUILDING BLOCK WORD,3,2009-12-01 09:06:00,5.95,13078.0,United Kingdom
15,489436,84879,ASSORTED COLOUR BIRD ORNAMENT,16,2009-12-01 09:06:00,1.69,13078.0,United Kingdom
16,489436,22119,PEACE WOODEN BLOCK LETTERS,3,2009-12-01 09:06:00,6.95,13078.0,United Kingdom
17,489436,22142,CHRISTMAS CRAFT WHITE FAIRY,12,2009-12-01 09:06:00,1.45,13078.0,United Kingdom
18,489436,22296,HEART IVORY TRELLIS LARGE,12,2009-12-01 09:06:00,1.65,13078.0,United Kingdom
19,489436,22295,HEART FILIGREE DOVE LARGE,12,2009-12-01 09:06:00,1.65,13078.0,United Kingdom
20,489436,22109,FULL ENGLISH BREAKFAST PLATE,16,2009-12-01 09:06:00,3.39,13078.0,United Kingdom
21,489436,22107,PIZZA PLATE IN BOX,4,2009-12-01 09:06:00,3.75,13078.0,United Kingdom
22,489436,22194,BLACK DINER WALL CLOCK,2,2009-12-01 09:06:00,8.50,13078.0,United Kingdom
23,489436,35004B,SET OF 3 BLACK FLYING DUCKS,12,2009-12-01 09:06:00,4.65,13078.0,United Kingdom
24,489436,82582,AREA PATROLLED METAL SIGN,12,2009-12-01 09:06:00,2.10,13078.0,United Kingdom
25,489436,21181,PLEASE ONE PERSON METAL SIGN,12,2009-12-01 09:06:00,2.10,13078.0,United Kingdom
26,489436,21756,BATH BUILDING BLOCK WORD,3,2009-12-01 09:06:00,5.95,13078.0,United Kingdom
27,489436,21333,CLASSIC WHITE FRAME,6,2009-12-01 09:06:00,2.95,13078.0,United Kingdom
28,489436,84596F,SMALL MARSHMALLOWS PINK BOWL,8,2009-12-01 09:06:00,1.25,13078.0,United Kingdom
29,489436,84596L,BISCUITS SMALL BOWL LIGHT BLUE,8,2009-12-01 09:06:00,1.25,13078.0,United Kingdom
30,489436,22111,SCOTTIE DOG HOT WATER BOTTLE,24,2009-12-01 09:06:00,4.25,13078.0,United Kingdom
31,489437,22143,CHRISTMAS CRAFT HEART DECORATIONS,6,2009-12-01 09:08:00,2.10,15362.0,United Kingdom
32,489437,22145,CHRISTMAS CRAFT HEART STOCKING,6,2009-12-01 09:08:00,2.10,15362.0,United Kingdom
33,489437,22130,PARTY CONE CHRISTMAS DECORATION,12,2009-12-01 09:08:00,0.85,15362.0,United Kingdom
34,489437,21364,PEACE SMALL WOOD LETTERS,2,2009-12-01 09:08:00,6.75,15362.0,United Kingdom
35,489437,21360,JOY LARGE WOOD LETTERS,1,2009-12-01 09:08:00,9.95,15362.0,United Kingdom
36,489437,21351,CINAMMON & ORANGE WREATH,2,2009-12-01 09:08:00,6.75,15362.0,United Kingdom
37,489437,21352,EUCALYPTUS & PINECONE WREATH,2,2009-12-01 09:08:00,6.75,15362.0,United Kingdom
38,489437,35400,WOODEN BOX ADVENT CALENDAR,2,2009-12-01 09:08:00,8.95,15362.0,United Kingdom
39,489437,20695,FLORAL BLUE MONSTER,3,2009-12-01 09:08:00,4.25,15362.0,United Kingdom
40,489437,37370,RETRO COFFEE MUGS ASSORTED,12,2009-12-01 09:08:00,1.25,15362.0,United Kingdom
41,489437,10002,INFLATABLE POLITICAL GLOBE,12,2009-12-01 09:08:00,0.85,15362.0,United Kingdom
42,489437,84507B,STRIPES DESIGN MONKEY DOLL,6,2009-12-01 09:08:00,2.55,15362.0,United Kingdom
43,489437,20703,BLUE PADDED SOFT MOBILE,3,2009-12-01 09:08:00,4.25,15362.0,United Kingdom
44,489437,21987,PACK OF 6 SKULL PAPER CUPS,12,2009-12-01 09:08:00,0.65,15362.0,United Kingdom
45,489437,21989,PACK OF 20 SKULL PAPER NAPKINS,12,2009-12-01 09:08:00,0.85,15362.0,United Kingdom
46,489437,84970S,HANGING HEART ZINC T-LIGHT HOLDER,12,2009-12-01 09:08:00,0.85,15362.0,United Kingdom
47,489437,20971,PINK BLUE FELT CRAFT TRINKET BOX,12,2009-12-01 09:08:00,1.25,15362.0,United Kingdom
48,489437,22271,FELTCRAFT DOLL ROSIE,6,2009-12-01 09:08:00,2.95,15362.0,United Kingdom
49,489437,22272,FELTCRAFT DOLL MARIA,6,2009-12-01 09:08:00,2.95,15362.0,United Kingdom
50,489437,22274,FELTCRAFT DOLL EMILY,6,2009-12-01 09:08:00,2.95,15362.0,United Kingdom
51,489437,21912,VINTAGE SNAKES & LADDERS,4,2009-12-01 09:08:00,3.75,15362.0,United Kingdom
52,489437,22111,SCOTTIE DOG HOT WATER BOTTLE,3,2009-12-01 09:08:00,4.95,15362.0,United Kingdom
53,489437,22112,CHOCOLATE HOT WATER BOTTLE,3,2009-12-01 09:08:00,4.95,15362.0,United Kingdom
54,489438,21329,DINOSAURS WRITING SET,28,2009-12-01 09:24:00,0.98,18102.0,United Kingdom
55,489438,21252,SET OF MEADOW FLOWER STICKERS,30,2009-12-01 09:24:00,1.69,18102.0,United Kingdom
56,489438,21100,CHARLIE AND LOLA CHARLOTTE BAG,30,2009-12-01 09:24:00,1.15,18102.0,United Kingdom
57,489438,21033,JUMBO BAG CHARLIE AND LOLA TOYS,30,2009-12-01 09:24:00,2.00,18102.0,United Kingdom
58,489438,20711,JUMBO BAG TOYS,60,2009-12-01 09:24:00,1.30,18102.0,United Kingdom
59,489438,21410,COUNTRY COTTAGE DOORSTOP GREEN,32,2009-12-01 09:24:00,2.50,18102.0,United Kingdom
60,489438,21411,GINGHAM HEART DOORSTOP RED,32,2009-12-01 09:24:00,2.50,18102.0,United Kingdom
61,489438,84031A,CHARLIE+LOLA RED HOT WATER BOTTLE,56,2009-12-01 09:24:00,3.00,18102.0,United Kingdom
62,489438,84031B,CHARLIE LOLA BLUE HOT WATER BOTTLE,56,2009-12-01 09:24:00,3.00,18102.0,United Kingdom
63,489438,84032A,CHARLIE+LOLA PINK HOT WATER BOTTLE,60,2009-12-01 09:24:00,1.90,18102.0,United Kingdom
64,489438,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,56,2009-12-01 09:24:00,1.90,18102.0,United Kingdom
65,489438,84519A,TOMATO CHARLIE+LOLA COASTER SET,56,2009-12-01 09:24:00,2.15,18102.0,United Kingdom
66,489438,84519B,CARROT CHARLIE+LOLA COASTER SET,60,2009-12-01 09:24:00,2.40,18102.0,United Kingdom
67,489438,85132A,CHARLIE + LOLA BISCUITS TINS,60,2009-12-01 09:24:00,6.38,18102.0,United Kingdom
68,489438,85132C,CHARLIE AND LOLA FIGURES TINS,60,2009-12-01 09:24:00,6.40,18102.0,United Kingdom
69,489438,85183A,CHARLIE & LOLA WASTEPAPER BIN BLUE,60,2009-12-01 09:24:00,2.40,18102.0,United Kingdom
70,489438,85183B,CHARLIE & LOLA WASTEPAPER BIN FLORA,60,2009-12-01 09:24:00,2.40,18102.0,United Kingdom
71,489439,22065,CHRISTMAS PUDDING TRINKET POT,12,2009-12-01 09:28:00,1.45,12682.0,France
72,489439,22138,BAKING SET 9 PIECE RETROSPOT,9,2009-12-01 09:28:00,4.95,12682.0,France
73,489439,22139,RETRO SPOT TEA SET CERAMIC 11 PC,9,2009-12-01 09:28:00,4.95,12682.0,France
74,489439,22352,LUNCHBOX WITH CUTLERY RETROSPOT,12,2009-12-01 09:28:00,2.55,12682.0,France
75,489439,85014A,BLACK/BLUE DOTS RUFFLED UMBRELLA,3,2009-12-01 09:28:00,5.95,12682.0,France
76,489439,85014B,RED/WHITE DOTS RUFFLED UMBRELLA,3,2009-12-01 09:28:00,5.95,12682.0,France
77,489439,16161P,WRAP ENGLISH ROSE,25,2009-12-01 09:28:00,0.42,12682.0,France
78,489439,16169N,WRAP BLUE RUSSIAN FOLKART,25,2009-12-01 09:28:00,0.42,12682.0,France
79,489439,21491,SET OF THREE VINTAGE GIFT WRAPS,6,2009-12-01 09:28:00,1.95,12682.0,France
80,489439,22333,RETRO SPORT PARTY BAG + STICKER SET,8,2009-12-01 09:28:00,1.65,12682.0,France
81,489439,85216,ASSORTED CAKES FRIDGE MAGNETS,12,2009-12-01 09:28:00,0.65,12682.0,France
82,489439,21493,VINTAGE DESIGN GIFT TAGS,12,2009-12-01 09:28:00,0.85,12682.0,France
83,489439,22130,PARTY CONE CHRISTMAS DECORATION,24,2009-12-01 09:28:00,0.85,12682.0,France
84,489439,22064,PINK DOUGHNUT TRINKET POT,12,2009-12-01 09:28:00,1.65,12682.0,France
85,489439,21731,RED TOADSTOOL LED NIGHT LIGHT,24,2009-12-01 09:28:00,1.65,12682.0,France
86,489439,85232B,SET/3 RUSSIAN DOLL STACKING TINS,6,2009-12-01 09:28:00,4.95,12682.0,France
87,489439,84691,PACK 20 DOLLY PEGS,12,2009-12-01 09:28:00,0.85,12682.0,France
88,489439,20749,ASSORTED COLOUR MINI CASES,2,2009-12-01 09:28:00,7.95,12682.0,France
89,489439,POST,POSTAGE,3,2009-12-01 09:28:00,18.00,12682.0,France
90,489440,22350,CAT BOWL,8,2009-12-01 09:43:00,2.55,18087.0,United Kingdom
91,489440,22349,"DOG BOWL , CHASING BALL DESIGN",8,2009-12-01 09:43:00,3.75,18087.0,United Kingdom
92,489441,22321,BIRD DECORATION RED SPOT,12,2009-12-01 09:44:00,0.72,18087.0,United Kingdom
93,489441,22138,BAKING SET 9 PIECE RETROSPOT,6,2009-12-01 09:44:00,4.25,18087.0,United Kingdom
94,489441,84029E,RED WOOLLY HOTTIE WHITE HEART.,36,2009-12-01 09:44:00,2.95,18087.0,United Kingdom
95,489441,22111,SCOTTIE DOG HOT WATER BOTTLE,48,2009-12-01 09:44:00,4.25,18087.0,United Kingdom
96,489442,21955,UNION JACK GUNS & ROSES DOORMAT,2,2009-12-01 09:46:00,6.75,13635.0,United Kingdom
97,489442,22111,SCOTTIE DOG HOT WATER BOTTLE,3,2009-12-01 09:46:00,4.95,13635.0,United Kingdom
98,489442,22296,HEART IVORY TRELLIS LARGE,12,2009-12-01 09:46:00,1.65,13635.0,United Kingdom
99,489442,84899E,YELLOW + BROWN BEAR FELT PURSE KIT,12,2009-12-01 09:46:00,1.25,13635.0,United Kingdom

In [48]:
df[100:200]         #studying as much rows as possible to identify any discrepancies in data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
100,489442,22271,FELTCRAFT DOLL ROSIE,6,2009-12-01 09:46:00,2.95,13635.0,United Kingdom
101,489442,22272,FELTCRAFT DOLL MARIA,6,2009-12-01 09:46:00,2.95,13635.0,United Kingdom
102,489442,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2009-12-01 09:46:00,2.95,13635.0,United Kingdom
103,489442,21582,KINGS CHOICE SMALL TUBE MATCHES,20,2009-12-01 09:46:00,1.65,13635.0,United Kingdom
104,489442,21586,KINGS CHOICE GIANT TUBE MATCHES,12,2009-12-01 09:46:00,2.55,13635.0,United Kingdom
105,489442,21590,KINGS CHOICE CIGAR BOX MATCHES,48,2009-12-01 09:46:00,1.25,13635.0,United Kingdom
106,489442,22091,EMPIRE TISSUE BOX,12,2009-12-01 09:46:00,1.25,13635.0,United Kingdom
107,489442,84251J,"GREETING CARD, THE BLACK CAT",12,2009-12-01 09:46:00,0.42,13635.0,United Kingdom
108,489442,22024,RAINY LADIES BIRTHDAY CARD,12,2009-12-01 09:46:00,0.42,13635.0,United Kingdom
109,489442,22026,BANQUET BIRTHDAY CARD,12,2009-12-01 09:46:00,0.42,13635.0,United Kingdom
110,489442,22029,SPACE BOY BIRTHDAY CARD,12,2009-12-01 09:46:00,0.42,13635.0,United Kingdom
111,489442,22025,RING OF ROSES BIRTHDAY CARD,12,2009-12-01 09:46:00,0.42,13635.0,United Kingdom
112,489442,22031,BOTANICAL LAVENDER BIRTHDAY CARD,12,2009-12-01 09:46:00,0.42,13635.0,United Kingdom
113,489442,21428,SET3 BOOK BOX GREEN GINGHAM FLOWER,4,2009-12-01 09:46:00,4.25,13635.0,United Kingdom
114,489442,21430,SET/3 RED GINGHAM ROSE STORAGE BOX,4,2009-12-01 09:46:00,3.75,13635.0,United Kingdom
115,489442,21916,SET 12 RETRO WHITE CHALK STICKS,24,2009-12-01 09:46:00,0.42,13635.0,United Kingdom
116,489442,21790,VINTAGE SNAP CARDS,12,2009-12-01 09:46:00,0.85,13635.0,United Kingdom
117,489442,21888,BINGO SET,8,2009-12-01 09:46:00,3.75,13635.0,United Kingdom
118,489442,85178,VICTORIAN SEWING KIT,12,2009-12-01 09:46:00,1.25,13635.0,United Kingdom
119,489443,20754,RETRO RED SPOTTY WASHING UP GLOVES,6,2009-12-01 09:50:00,2.10,14110.0,United Kingdom
120,489443,21035,SET/2 RED SPOTTY TEA TOWELS,12,2009-12-01 09:50:00,2.95,14110.0,United Kingdom
121,489443,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 09:50:00,2.10,14110.0,United Kingdom
122,489443,82001S,VINYL RECORD FRAME SILVER,24,2009-12-01 09:50:00,3.39,14110.0,United Kingdom
123,489443,82580,BATHROOM METAL SIGN,12,2009-12-01 09:50:00,0.55,14110.0,United Kingdom
124,489443,85150,LADIES & GENTLEMEN METAL SIGN,12,2009-12-01 09:50:00,2.55,14110.0,United Kingdom
125,489443,21041,RED SPOTTY OVEN GLOVE DOUBLE,6,2009-12-01 09:50:00,2.95,14110.0,United Kingdom
126,489444,POST,POSTAGE,1,2009-12-01 09:55:00,141.00,12636.0,USA
127,489445,35916C,PINK FELT HANGING HEART W FLOWER,12,2009-12-01 09:57:00,0.85,17519.0,United Kingdom
128,489445,35916B,BLUE FELT HANGING HEART W FLOWER,12,2009-12-01 09:57:00,0.85,17519.0,United Kingdom
129,489445,22321,BIRD DECORATION RED SPOT,24,2009-12-01 09:57:00,0.85,17519.0,United Kingdom
130,489445,22130,PARTY CONE CHRISTMAS DECORATION,12,2009-12-01 09:57:00,0.85,17519.0,United Kingdom
131,489445,22180,RETRO SPOT LAMP,2,2009-12-01 09:57:00,9.95,17519.0,United Kingdom
132,489445,22128,PARTY CONES CANDY ASSORTED,12,2009-12-01 09:57:00,1.25,17519.0,United Kingdom
133,489445,22163,HEART STRING MEMO HOLDER HANGING,6,2009-12-01 09:57:00,2.95,17519.0,United Kingdom
134,489445,35951,FOLKART BAUBLE CHRISTMAS DECORATION,48,2009-12-01 09:57:00,0.38,17519.0,United Kingdom
135,489445,22253,6 CROCHET STRAWBERRIES,12,2009-12-01 09:57:00,1.25,17519.0,United Kingdom
136,489445,84988,SET OF 72 PINK HEART PAPER DOILIES,12,2009-12-01 09:57:00,1.45,17519.0,United Kingdom
137,489445,22219,LOVEBIRD HANGING DECORATION WHITE,24,2009-12-01 09:57:00,0.85,17519.0,United Kingdom
138,489445,18097C,WHITE TALL PORCELAIN T-LIGHT HOLDER,6,2009-12-01 09:57:00,2.55,17519.0,United Kingdom
139,489445,22138,BAKING SET 9 PIECE RETROSPOT,3,2009-12-01 09:57:00,4.95,17519.0,United Kingdom
140,489445,21299,EDWARDIAN TOILET ROLL UNIT,1,2009-12-01 09:57:00,12.75,17519.0,United Kingdom
141,489445,21099,SET/6 STRAWBERRY PAPER CUPS,24,2009-12-01 09:57:00,0.65,17519.0,United Kingdom
142,489445,21085,SET/6 WOODLAND PAPER CUPS,24,2009-12-01 09:57:00,0.65,17519.0,United Kingdom
143,489445,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2009-12-01 09:57:00,1.95,17519.0,United Kingdom
144,489445,22241,"GARLAND , WOODEN "" HAPPY EASTER""",24,2009-12-01 09:57:00,1.25,17519.0,United Kingdom
145,489445,21091,SET/6 WOODLAND PAPER PLATES,12,2009-12-01 09:57:00,0.85,17519.0,United Kingdom
146,489446,21733,RED HANGING HEART T-LIGHT HOLDER,32,2009-12-01 10:06:00,2.55,13758.0,United Kingdom
147,489446,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,2009-12-01 10:06:00,2.55,13758.0,United Kingdom
148,489446,22178,VICTORIAN GLASS HANGING T-LIGHT,12,2009-12-01 10:06:00,1.25,13758.0,United Kingdom
149,489446,22125,UNION JACK HOT WATER BOTTLE,12,2009-12-01 10:06:00,5.95,13758.0,United Kingdom
150,489446,21671,RED SPOT CERAMIC DRAWER KNOB,12,2009-12-01 10:06:00,1.25,13758.0,United Kingdom
151,489446,22086,PAPER CHAIN KIT 50'S CHRISTMAS,12,2009-12-01 10:06:00,2.95,13758.0,United Kingdom
152,489446,22111,SCOTTIE DOG HOT WATER BOTTLE,6,2009-12-01 10:06:00,4.95,13758.0,United Kingdom
153,489446,22112,CHOCOLATE HOT WATER BOTTLE,12,2009-12-01 10:06:00,4.95,13758.0,United Kingdom
154,489446,22294,HEART FILIGREE DOVE SMALL,24,2009-12-01 10:06:00,1.25,13758.0,United Kingdom
155,489446,22199,FRYING PAN RED POLKADOT,4,2009-12-01 10:06:00,4.25,13758.0,United Kingdom
156,489446,22083,PAPER CHAIN KIT RETRO SPOT,24,2009-12-01 10:06:00,2.95,13758.0,United Kingdom
157,489446,22114,HOT WATER BOTTLE TEA AND SYMPATHY,12,2009-12-01 10:06:00,3.95,13758.0,United Kingdom
158,489446,21485,RED SPOT HEART HOT WATER BOTTLE,12,2009-12-01 10:06:00,4.95,13758.0,United Kingdom
159,489446,21928,JUMBO BAG SCANDINAVIAN PAISLEY,10,2009-12-01 10:06:00,1.95,13758.0,United Kingdom
160,489446,21929,JUMBO BAG PINK VINTAGE PAISLEY,10,2009-12-01 10:06:00,1.95,13758.0,United Kingdom
161,489446,85099B,JUMBO BAG RED WHITE SPOTTY,20,2009-12-01 10:06:00,1.95,13758.0,United Kingdom
162,489446,22356,"CHARLOTTE BAG , PINK/WHITE SPOTS",10,2009-12-01 10:06:00,0.85,13758.0,United Kingdom
163,489446,20724,RED SPOTTY CHARLOTTE BAG,10,2009-12-01 10:06:00,0.85,13758.0,United Kingdom
164,489446,21590,KINGS CHOICE CIGAR BOX MATCHES,24,2009-12-01 10:06:00,1.25,13758.0,United Kingdom
165,489446,21592,RETRO SPOT CIGAR BOX MATCHES,24,2009-12-01 10:06:00,1.25,13758.0,United Kingdom
166,489446,20725,LUNCH BAG RED SPOTTY,10,2009-12-01 10:06:00,1.65,13758.0,United Kingdom
167,489446,20728,LUNCH BAG CARS BLUE,10,2009-12-01 10:06:00,1.65,13758.0,United Kingdom
168,489446,20726,LUNCH BAG WOODLAND,10,2009-12-01 10:06:00,1.65,13758.0,United Kingdom
169,489446,20754,RETRO RED SPOTTY WASHING UP GLOVES,12,2009-12-01 10:06:00,2.10,13758.0,United Kingdom
170,489446,21217,RED SPOTTY ROUND CAKE TINS,12,2009-12-01 10:06:00,8.95,13758.0,United Kingdom
171,489446,22195,LARGE HEART MEASURING SPOONS,12,2009-12-01 10:06:00,1.65,13758.0,United Kingdom
172,489446,85066,CREAM SWEETHEART MINI CHEST,2,2009-12-01 10:06:00,12.75,13758.0,United Kingdom
173,489447,POST,POSTAGE,1,2009-12-01 10:10:00,130.00,12362.0,Belgium
174,489448,20827,GOLD APERITIF GLASS,48,2009-12-01 10:18:00,2.12,15413.0,United Kingdom
175,489448,20825,GOLD WINE GLASS,48,2009-12-01 10:18:00,3.39,15413.0,United Kingdom
176,489448,20823,GOLD WINE GOBLET,48,2009-12-01 10:18:00,4.25,15413.0,United Kingdom
177,489448,20826,SILVER APERITIF GLASS,48,2009-12-01 10:18:00,2.12,15413.0,United Kingdom
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
183,C489449,21871,SAVE THE PLANET MUG,-12,2009-12-01 10:33:00,1.25,16321.0,Australia
184,C489449,84946,ANTIQUE SILVER TEA GLASS ETCHED,-12,2009-12-01 10:33:00,1.25,16321.0,Australia
185,C489449,84970S,HANGING HEART ZINC T-LIGHT HOLDER,-24,2009-12-01 10:33:00,0.85,16321.0,Australia
186,C489449,22090,PAPER BUNTING RETRO SPOTS,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
187,489450,22087,PAPER BUNTING WHITE LACE,12,2009-12-01 10:36:00,2.95,16321.0,Australia
188,489450,85206A,CREAM FELT EASTER EGG BASKET,6,2009-12-01 10:36:00,1.65,16321.0,Australia
189,489450,21895,POTTING SHED SOW 'N' GROW SET,4,2009-12-01 10:36:00,4.25,16321.0,Australia
190,489450,21896,POTTING SHED TWINE,6,2009-12-01 10:36:00,2.10,16321.0,Australia
191,489450,22083,PAPER CHAIN KIT RETRO SPOT,12,2009-12-01 10:36:00,2.95,16321.0,Australia
192,489450,21871,SAVE THE PLANET MUG,12,2009-12-01 10:36:00,1.25,16321.0,Australia
193,489450,84946,ANTIQUE SILVER TEA GLASS ETCHED,12,2009-12-01 10:36:00,1.25,16321.0,Australia
194,489450,84970S,HANGING HEART ZINC T-LIGHT HOLDER,24,2009-12-01 10:36:00,0.85,16321.0,Australia
195,489450,22090,PAPER BUNTING RETRO SPOTS,12,2009-12-01 10:36:00,2.95,16321.0,Australia
196,C489459,90200A,PURPLE SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.0,United Kingdom
197,C489459,90200D,PINK SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.0,United Kingdom
198,C489459,90200B,BLACK SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.0,United Kingdom
199,C489459,90200E,GREEN SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.0,United Kingdom

In [31]:
#grouping the invoices with missing customer ids together to check for possible ffill,bfill or mode imputation
null_customerid = df.groupby('Invoice').filter(lambda x: x['Customer ID'].isnull().any())
null_customerid['Customer ID'].notnull().any()

False

In [102]:
df.duplicated().any()

False

In [53]:
# Let's take a look at how many figures are negative in the Quantity column of df
negative_quantity = df[df['Quantity'] < 0]

# Count the number of rows with negative quantities
negative_quantity_count = len(negative_quantity)
print("Number of rows with negative quantities:", negative_quantity_count)

# Check if every negative quantity row in df has a value of 0.00 in the Price column
negative_quantity_price = negative_quantity[negative_quantity['Price'] == 0.00]

# Count the number of rows with negative quantities and 0.00 in the Price column
negative_quantity_price_count = len(negative_quantity_price)
print("Number of rows with negative quantities and 0.00 in the Price column:", negative_quantity_price_count)

Number of rows with negative quantities: 12326
Number of rows with negative quantities and 0.00 in the Price column: 2121

In [55]:
# Check the values where the quantity is < 0 and has a price that is not > 0.00
negative_quantity_price_not_zero = negative_quantity[negative_quantity['Price'] > 0.00]

# Count the number of rows with negative quantities and a price that is not > 0.00
negative_quantity_price_not_zero_count = len(negative_quantity_price_not_zero)

# Display the number of rows with negative quantities and a price that is not > 0.00
print("Number of rows with negative quantities and a price that is > 0.00:", negative_quantity_price_not_zero_count)

Number of rows with negative quantities and a price that is > 0.00: 10205

#### OBSERVATIONS
---

Customer Id has the most missing values which is about 20% of our data. 
The data also has some duplicated values which means we will need to drop the duplicates. 
There is need for further wrangling to find the best way to impute the missing ID. 
The description column also has some missing values, this doesnt really raise much alarm as we have the stockcode to 
identify the product. From the data exploration, you can notice that the groups of invoice that has missing customer id does not 
contain a single non-nan values for imputation, the option that comes to mind is to give a unique customer id
that doesnt exist in the data to each invoice group. 


Also notice that some of the values in the quantity column are negative numbers, this could indicate returns but the price
column does not reflect this suspicion, some of the prices are positive, while others are 0.00. I would expect a negative
price to indicate returns. 

This information needs to be rectfied by stakeholders to make the best decision for the rectificaton, if they are confirmed returns, 
then i would create a return column tagging the quantity < 0 = 1 and quantity > 0 = 0.

### Data Cleaning plus a little feature engineering

---

### Data Cleaning and Preparation

Before diving into our analysis, we need to clean and organize the data to ensure it's accurate and reliable. The function `clean_and_assign_customer_ids` accomplishes this by performing a series of essential steps:

1. **Drop duplicated rows**:
   We start by dropping duplicated rows in the data.
   
2. **Remove Inconsistent Data**: 
   In this step, we eliminate rows where the `Quantity` is negative and the `Price` is greater than zero. These rows likely represent data entry errors since a negative quantity generally indicates a return, which should have a price of zero. By dropping these inconsistent rows, we improve the overall quality of our dataset.

3. **Assign Unique Customer IDs**:
   In some invoice groups, if there is a missing value (`NaN`) in the `Customer ID`, it means all `Customer IDs` in that group are missing. Since these groups make up a significant part of our data (about 20%), we cannot afford to drop them. Instead, we assign new unique `Customer IDs` starting from the highest current ID plus one. This ensures that each invoice group with missing `Customer IDs` gets a unique identifier, preserving the integrity and usefulness of the data.

4. **Remove Redundant Columns**:
   We drop the `Description` column from the DataFrame. Since each product is uniquely identified by its `StockCode`, the `Description` is redundant for our analysis. Removing it simplifies our dataset, making it easier to work with and reducing any potential noise.

5. **Flag Returned Goods**:
   To better understand customer behavior, we add a new column called `IsReturned`. This column indicates whether an item was returned (`Quantity < 0`) or not (`Quantity >= 0`). This additional information is valuable for analyzing return patterns and can help us tailor our strategies accordingly.

6. **Measure Performance and confirm the duplicates are dropped**:
   Finally, we measure how long the data cleaning process takes. By timing the execution, we can keep an eye on performance, especially when dealing with large datasets. Knowing the execution time helps us identify any bottlenecks and optimize the process if needed.

By following these steps, we ensure our dataset is clean, consistent, and ready for meaningful analysis. This clean dataset will serve as a solid foundation for gaining insights and making informed decisions.

In [95]:
# Function adheres to PEP8 guidelines
def clean_and_assign_customer_ids(df):
    """
    Cleans the DataFrame by dropping rows with negative quantities and non-zero prices,
    assigns unique Customer IDs to NaN groups, drops the Description column, 
    adds a column indicating returns, and measures the execution time.
    
    Arguments:
    df (pd.DataFrame): The input DataFrame
    
    Returns:
    pd.DataFrame: The cleaned DataFrame with unique Customer IDs assigned to NaN groups
    float: The time taken to execute the function
    """
    start_time = time.time()  # Start the timer

    #Step 1: Drop duplicated rows in data
    cleaned_df = df.drop_duplicates(keep='first', inplace=True)
    duplicate = new_df_cleaned.duplicated().sum()
    
    # Step 2: Drop rows with negative quantities and non-zero prices
    cleaned_df = df[~((df['Quantity'] < 0) & (df['Price'] > 0.00))]
    
    # Step 3: Assign a unique customer ID to each invoice group with NaN values
    unique_customer_id_start = cleaned_df['Customer ID'].max() + 1
    cleaned_df.loc[cleaned_df['Customer ID'].isna(), 'Customer ID'] = (
        unique_customer_id_start + cleaned_df['Invoice'].astype('category').cat.codes
    )
    
    # Step 4: Drop the Description column
    cleaned_df = cleaned_df.drop(columns=['Description'])
    
    # Step 5: Add a column to indicate returned goods
    cleaned_df['IsReturned'] = cleaned_df['Quantity'] < 0

    end_time = time.time()  # Stop the timer
    execution_time = end_time - start_time  # Calculate the execution time

    # Verify that rows have been dropped
    negative_quantity_price_not_zero = cleaned_df[(cleaned_df['Quantity'] < 0) & (cleaned_df['Price'] > 0.00)]
    count_negative_quantity_price_not_zero = len(negative_quantity_price_not_zero)
    print("Number of rows with negative quantities and non-zero prices:", count_negative_quantity_price_not_zero)
    
    return cleaned_df, execution_time

# Example usage
new_df_cleaned, exec_time = clean_and_assign_customer_ids(df)
print("Execution time: {:.2f} seconds".format(exec_time))
print("Duplicated :",  {duplicate})

Number of rows with negative quantities and non-zero prices: 0
Execution time: 1.19 seconds
Duplicated : {0}

In [72]:
new_df_cleaned.head()

,Invoice,StockCode,Quantity,InvoiceDate,Price,Customer ID,Country,IsReturned
0,489434,85048,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,False
1,489434,79323P,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False
2,489434,79323W,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False
3,489434,22041,48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,False
4,489434,21232,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,False

In [83]:
new_df_cleaned['IsReturned'].value_counts()

IsReturned
False    513135
True       2121
Name: count, dtype: int64

In [100]:
new_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 508415 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      508415 non-null  object
 1   StockCode    508415 non-null  object
 2   Quantity     508415 non-null  int64
 3   InvoiceDate  508415 non-null  datetime64[ns]
 4   Price        508415 non-null  float64
 5   Customer ID  508415 non-null  float64
 6   Country      508415 non-null  object
 7   IsReturned   508415 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 47.6+ MB

**EXPLORATORY DATA ANALYSIS AND CLEANING 2**
---

##### Country Column

In [107]:
!pip install pycountry

Requirement already satisfied: pycountry in c:\users\dell\anaconda3\lib\site-packages (24.6.1)

In [115]:
import pycountry    #import libraries
import re

In [111]:
# Fetch the list of country names using pycountry
countries = [country.name for country in pycountry.countries]

# Validate the Country column
new_df_cleaned['IsValidCountry'] = new_df_cleaned['Country'].isin(countries)

# Display the rows with invalid country names
invalid_countries = new_df_cleaned[~new_df_cleaned['IsValidCountry']]['Country'].unique()
print("Invalid country names:", invalid_countries)

# Display value counts for valid and invalid countries
country_validation_counts = new_df_cleaned['IsValidCountry'].value_counts()
print("\nValue counts for country validation:")
print(country_validation_counts)

# Display value counts for the original entries
original_value_counts = new_df_cleaned['Country'].value_counts()
print("Original value counts:")
print(original_value_counts)

Invalid country names: ['USA' 'EIRE' 'Channel Islands' 'Unspecified' 'RSA' 'West Indies' 'Korea']

Value counts for country validation:
IsValidCountry
True     497390
False     11025
Name: count, dtype: int64
Original value counts:
Country
United Kingdom          470277
EIRE                      9451
Germany                   7652
France                    5514
Netherlands               2729
Spain                     1228
Switzerland               1170
Portugal                  1058
Belgium                   1037
Sweden                     886
Channel Islands            821
Italy                      708
Australia                  630
Cyprus                     533
Austria                    524
Greece                     512
Denmark                    418
United Arab Emirates       399
Norway                     365
Finland                    347
Unspecified                306
USA                        230
Poland                     182
Malta                      170
Japan                      164
Lithuania                  154
Singapore                  117
RSA                        110
Bahrain                    106
Canada                      77
Thailand                    76
Hong Kong                   74
Israel                      74
Iceland                     71
Brazil                      62
West Indies                 54
Korea                       53
Bermuda                     34
Nigeria                     30
Lebanon                     12
Name: count, dtype: int64

##### StockCode Column

In [117]:
# Categorize StockCode values
new_df_cleaned['StockCodeType'] = new_df_cleaned['StockCode'].astype(str).apply(
    lambda x: 'Numeric' if re.match(r'^\d+$', x) else
              'Alphanumeric' if re.match(r'^\d+[A-Za-z]$', x) else
              'Other'
)

# Display examples of each category
numeric_examples = new_df_cleaned[new_df_cleaned['StockCodeType'] == 'Numeric']['StockCode'].unique()
alphanumeric_examples = new_df_cleaned[new_df_cleaned['StockCodeType'] == 'Alphanumeric']['StockCode'].unique()
other_examples = new_df_cleaned[new_df_cleaned['StockCodeType'] == 'Other']['StockCode'].unique()

print("Numeric examples:", numeric_examples[:8])
print("Alphanumeric examples:", alphanumeric_examples[:8])
print("Other examples:", other_examples[:8])

# Display value counts for each StockCodeType
value_counts = new_df_cleaned['StockCodeType'].value_counts()
print("\nValue counts for each StockCodeType:\n")
print(value_counts)

Numeric examples: [85048 22041 21232 22064 21871 21523 22350 22349]
Alphanumeric examples: ['79323P' '79323W' '48173C' '35004B' '84596F' '84596L' '84507B' '84970S']
Other examples: ['POST' '79323LP' '15056BL' 'DCGS0058' 'DCGS0068' 'DOT' '15056bl' 'M']

Value counts for each StockCodeType:

StockCodeType
Numeric         431266
Alphanumeric     73826
Other             3323
Name: count, dtype: int64

##### Invoice column

In [122]:
# Categorize Invoice values
new_df_cleaned['InvoiceType'] = new_df_cleaned['Invoice'].astype(str).apply(
    lambda x: 'Numeric' if re.match(r'^\d+$', x) else
              'Alphanumeric' if re.match(r'^\d+[A-Za-z]$', x) else
              'Other'
)

# Display examples of each category
numeric_invoice_examples = new_df_cleaned[new_df_cleaned['InvoiceType'] == 'Numeric']['Invoice'].unique()
alphanumeric_invoice_examples = new_df_cleaned[new_df_cleaned['InvoiceType'] == 'Alphanumeric']['Invoice'].unique()
other_invoice_examples = new_df_cleaned[new_df_cleaned['InvoiceType'] == 'Other']['Invoice'].unique()

print("Numeric Invoice examples:", numeric_invoice_examples[:8])
print("Alphanumeric Invoice examples:", alphanumeric_invoice_examples[:8])
print("Other Invoice examples:", other_invoice_examples[:8])

# Display value counts for each InvoiceType
invoice_value_counts = new_df_cleaned['InvoiceType'].value_counts()
print("\nValue counts for each InvoiceType:")
print(invoice_value_counts)

Numeric Invoice examples: [489434 489435 489436 489437 489438 489439 489440 489441]
Alphanumeric Invoice examples: []
Other Invoice examples: ['C496350' 'A506401' 'A516228' 'A528059']

Value counts for each InvoiceType:
InvoiceType
Numeric    508411
Other           4
Name: count, dtype: int64

In [124]:
def validate_cat_data(df):
    """
    Analyzes the DataFrame by performing the following tasks:
    - Validates country names and applies specific corrections
    - Categorizes StockCode values
    - Categorizes Invoice values
    - Displays value counts for the relevant categories
    
    Arguments:
    df (pd.DataFrame): The input DataFrame
    
    Returns:
    pd.DataFrame: The modified DataFrame
    """
    # Create a copy of the original DataFrame to avoid permanent changes
    new_df_cleaned2 = df.copy()

    # Fetch the list of country names using pycountry
    countries = [country.name for country in pycountry.countries]
    
    # Display the original value counts for the Country column
    original_value_counts = new_df_cleaned2['Country'].value_counts()
    print("\nOriginal value counts:")
    print(original_value_counts)
    
    # Define a mapping for the specific corrections
    country_corrections = {
        'EIRE': 'Republic of Ireland',
        'USA': 'United States',
        'RSA': 'Republic of South Africa'
    }
    
    # Apply the corrections to the Country column
    new_df_cleaned2['Country'] = new_df_cleaned2['Country'].replace(country_corrections)

    # Validate the updated Country column
    new_df_cleaned2['IsValidCountry'] = new_df_cleaned2['Country'].isin(countries)

    # Display the rows with invalid country names after correction
    invalid_countries_after_correction = new_df_cleaned2[~new_df_cleaned2['IsValidCountry']]['Country'].unique()
    print("\nInvalid country names after correction:", invalid_countries_after_correction)

    # Display value counts for valid and invalid countries after correction
    country_validation_counts_after_correction = new_df_cleaned2['IsValidCountry'].value_counts()
    print("\nValue counts for country validation after correction:")
    print(country_validation_counts_after_correction)

    # Categorize StockCode values
    new_df_cleaned2['StockCodeType'] = new_df_cleaned2['StockCode'].astype(str).apply(
        lambda x: 'Numeric' if re.match(r'^\d+$', x) else
                  'Alphanumeric' if re.match(r'^\d+[A-Za-z]$', x) else
                  'Other'
    )

    # Display examples of each category for StockCode
    numeric_examples = new_df_cleaned2[new_df_cleaned2['StockCodeType'] == 'Numeric']['StockCode'].unique()
    alphanumeric_examples = new_df_cleaned2[new_df_cleaned2['StockCodeType'] == 'Alphanumeric']['StockCode'].unique()
    other_examples = new_df_cleaned2[new_df_cleaned2['StockCodeType'] == 'Other']['StockCode'].unique()
    
    print("\nStockCode examples:")
    print("Numeric examples:", numeric_examples[:8])
    print("Alphanumeric examples:", alphanumeric_examples[:8])
    print("Other examples:", other_examples[:8])

    # Display value counts for each StockCodeType
    stock_code_value_counts = new_df_cleaned2['StockCodeType'].value_counts()
    print("\nValue counts for each StockCodeType:")
    print(stock_code_value_counts)

    # Categorize Invoice values
    new_df_cleaned2['InvoiceType'] = new_df_cleaned2['Invoice'].astype(str).apply(
        lambda x: 'Numeric' if re.match(r'^\d+$', x) else
                  'Alphanumeric' if re.match(r'^\d+[A-Za-z]$', x) else
                  'Other'
    )

    # Display examples of each category for Invoice
    numeric_invoice_examples = new_df_cleaned2[new_df_cleaned2['InvoiceType'] == 'Numeric']['Invoice'].unique()
    alphanumeric_invoice_examples = new_df_cleaned2[new_df_cleaned2['InvoiceType'] == 'Alphanumeric']['Invoice'].unique()
    other_invoice_examples = new_df_cleaned2[new_df_cleaned2['InvoiceType'] == 'Other']['Invoice'].unique()
    
    print("\nInvoice examples:")
    print("Numeric Invoice examples:", numeric_invoice_examples[:8])
    print("Alphanumeric Invoice examples:", alphanumeric_invoice_examples[:8])
    print("Other Invoice examples:", other_invoice_examples[:8])

    # Display value counts for each InvoiceType
    invoice_value_counts = new_df_cleaned2['InvoiceType'].value_counts()
    print("\nValue counts for each InvoiceType:")
    print(invoice_value_counts)

    # Drop the temporary columns used for analysis
    new_df_cleaned2 = new_df_cleaned2.drop(columns=['IsValidCountry', 'StockCodeType', 'InvoiceType'])

    return new_df_cleaned2

# Call function and assign the results to a new DataFrame
new_df_cleaned2 = validate_cat_data(new_df_cleaned)

Original value counts:
Country
United Kingdom          470277
EIRE                      9451
Germany                   7652
France                    5514
Netherlands               2729
Spain                     1228
Switzerland               1170
Portugal                  1058
Belgium                   1037
Sweden                     886
Channel Islands            821
Italy                      708
Australia                  630
Cyprus                     533
Austria                    524
Greece                     512
Denmark                    418
United Arab Emirates       399
Norway                     365
Finland                    347
Unspecified                306
USA                        230
Poland                     182
Malta                      170
Japan                      164
Lithuania                  154
Singapore                  117
RSA                        110
Bahrain                    106
Canada                      77
Thailand                    76
Hong Kong                   74
Israel                      74
Iceland                     71
Brazil                      62
West Indies                 54
Korea                       53
Bermuda                     34
Nigeria                     30
Lebanon                     12
Name: count, dtype: int64

Invalid country names after correction: ['Republic of Ireland' 'Channel Islands' 'Unspecified'
 'Republic of South Africa' 'West Indies' 'Korea']

Value counts for country validation after correction:
IsValidCountry
True     497620
False     10795
Name: count, dtype: int64

StockCode examples:
Numeric examples: [85048 22041 21232 22064 21871 21523 22350 22349]
Alphanumeric examples: ['79323P' '79323W' '48173C' '35004B' '84596F' '84596L' '84507B' '84970S']
Other examples: ['POST' '79323LP' '15056BL' 'DCGS0058' 'DCGS0068' 'DOT' '15056bl' 'M']

Value counts for each StockCodeType:
StockCodeType
Numeric         431266
Alphanumeric     73826
Other             3323
Name: count, dtype: int64

Invoice examples:
Numeric Invoice examples: [489434 489435 489436 489437 489438 489439 489440 489441]
Alphanumeric Invoice examples: []
Other Invoice examples: ['C496350' 'A506401' 'A516228' 'A528059']

Value counts for each InvoiceType:
InvoiceType
Numeric    508411
Other           4
Name: count, dtype: int64

**Findings**

This exploration has revealed some discrepances in our data. This is seen in both the stockcode column and the 
invoice column, which has different data types, and the country column which has some names of the countries
misrepresented. we have in the function above corrected some misrepresented countries except west indies and south korea. 
This is because these two will need the stakeholders input to specify which country in west indies or which Korea.

To resolve the stockcode column challenge, we might run a frequency, binary or label encoding on this object data type column.
We will drop the invoice rows with this challenges since its a negligible % of our data.

**FEATURE ENGINEERING AND BINARY ENCODING**

In [134]:
# Assuming 'new_df_cleaned2' is your original dataframe

# Create a copy for feature engineering
engineered_data = new_df_cleaned2.copy()

# Extracting date and time features
engineered_data['Year'] = engineered_data['InvoiceDate'].dt.year
engineered_data['Month'] = engineered_data['InvoiceDate'].dt.month
engineered_data['Day'] = engineered_data['InvoiceDate'].dt.day
engineered_data['Hour'] = engineered_data['InvoiceDate'].dt.hour
engineered_data['DayOfWeek'] = engineered_data['InvoiceDate'].dt.dayofweek
engineered_data['IsWeekend'] = engineered_data['DayOfWeek'].apply(lambda x: 1 if x >= 5 else 0)
engineered_data['IsBusinessHour'] = engineered_data['Hour'].apply(lambda x: 1 if 9 <= x <= 17 else 0)

# DayPeriod logic
def get_day_period(hour):
    if 6 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 18:
        return 'Afternoon'
    elif 18 <= hour < 24:
        return 'Evening'
    else:
        return 'Night'

engineered_data['DayPeriod'] = engineered_data['Hour'].apply(get_day_period)

# Season logic
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'

engineered_data['Season'] = engineered_data['Month'].apply(get_season)

# Aggregation features
customer_agg = engineered_data.groupby('Customer ID').agg({
    'Quantity': 'sum',
    'Price': 'mean',
    'Invoice': 'count'
}).reset_index()
customer_agg.columns = ['Customer ID', 'TotalQuantity', 'AvgPrice', 'TransactionCount']

engineered_data = engineered_data.merge(customer_agg, on='Customer ID', how='left')

# Ratio and difference features
engineered_data['TotalAmount'] = engineered_data['Quantity'] * engineered_data['Price']
engineered_data['ReturnRate'] = engineered_data['IsReturned'] / engineered_data['TransactionCount']
engineered_data['AvgTransactionValue'] = engineered_data['TotalAmount'] / engineered_data['TransactionCount']

# Interaction features
engineered_data['Quantity_Price_Interaction'] = engineered_data['Quantity'] * engineered_data['Price']

# Month-End and Quarter-End features
engineered_data['MonthEnd'] = engineered_data['InvoiceDate'].dt.is_month_end.astype(int)
engineered_data['QuarterEnd'] = engineered_data['InvoiceDate'].dt.is_quarter_end.astype(int)

# Display the shape and sample of the engineered DataFrame
print(f"Engineered data shape: {engineered_data.shape}")
print("\nEngineered data sample:\n")
print(engineered_data.head())

Engineered data shape: (508415, 26)

Engineered data sample:

  Invoice StockCode  Quantity         InvoiceDate  Price  Customer ID  \
0  489434     85048        12 2009-12-01 07:45:00   6.95      13085.0
1  489434    79323P        12 2009-12-01 07:45:00   6.75      13085.0
2  489434    79323W        12 2009-12-01 07:45:00   6.75      13085.0
3  489434     22041        48 2009-12-01 07:45:00   2.10      13085.0
4  489434     21232        24 2009-12-01 07:45:00   1.25      13085.0

          Country  IsReturned  Year  Month  Day  Hour  DayOfWeek  IsWeekend  \
0  United Kingdom       False  2009     12    1     7          1          0
1  United Kingdom       False  2009     12    1     7          1          0
2  United Kingdom       False  2009     12    1     7          1          0
3  United Kingdom       False  2009     12    1     7          1          0
4  United Kingdom       False  2009     12    1     7          1          0

   IsBusinessHour DayPeriod  Season  TotalQuantity  AvgPrice  \
0               0   Morning  Winter            728  3.404032
1               0   Morning  Winter            728  3.404032
2               0   Morning  Winter            728  3.404032
3               0   Morning  Winter            728  3.404032
4               0   Morning  Winter            728  3.404032

   TransactionCount  TotalAmount  ReturnRate  AvgTransactionValue  \
0                62         83.4         0.0             1.345161
1                62         81.0         0.0             1.306452
2                62         81.0         0.0             1.306452
3                62        100.8         0.0             1.625806
4                62         30.0         0.0             0.483871

   Quantity_Price_Interaction  MonthEnd  QuarterEnd
0                        83.4         0           0
1                        81.0         0           0
2                        81.0         0           0
3                       100.8         0           0
4                        30.0         0           0

In [136]:
# Function to encode categorical columns using binary encoding
def binary_encode_column(column):
    """
    Manually encode a column into binary representation.
    """
    unique_values = column.unique()
    n_unique = len(unique_values)
    n_bits = int(np.ceil(np.log2(n_unique)))
    binary_map = {val: np.binary_repr(i, width=n_bits) for i, val in enumerate(unique_values)}
    binary_encoded = column.map(binary_map)
    binary_columns = np.array([list(map(int, list(val))) for val in binary_encoded])
    
    return binary_columns, [f"{column.name}_bin_{i}" for i in range(n_bits)]

def binary_encode_columns(df, columns):
    """
    Manually encode categorical columns using binary encoding.
    """
    df = df.copy()
    for column in columns:
        binary_columns, binary_column_names = binary_encode_column(df[column])
        binary_df = pd.DataFrame(binary_columns, columns=binary_column_names, index=df.index)
        df = pd.concat([df.drop(column, axis=1), binary_df], axis=1)
    return df

# Define categorical columns explicitly (excluding Customer ID)
categorical_columns = ['StockCode', 'Country', 'Invoice', 'IsReturned', 'Season', 'DayPeriod']

# Pipeline for binary encoding and scaling
def encode_and_scale(df, columns, exclude_columns):
    """
    Apply manual binary encoding and scaling to the dataframe, excluding specified columns.
    """
    df_encoded = binary_encode_columns(df, columns)
    
    df_excluded = df[exclude_columns]
    df_to_scale = df_encoded.drop(exclude_columns, axis=1)
    
    scaler = StandardScaler()
    scaled_data = scaler.fit_transform(df_to_scale)
    
    df_scaled = pd.DataFrame(scaled_data, columns=df_to_scale.columns)
    final_df = pd.concat([df_excluded.reset_index(drop=True), df_scaled.reset_index(drop=True)], axis=1)
    
    return final_df

# Specify columns to exclude from scaling (including Customer ID)
exclude_columns = ['Customer ID']

# Make a copy of engineered_data before dropping InvoiceDate
engineered_data_copy = engineered_data.copy()
engineered_data_copy = engineered_data_copy.drop(columns=['InvoiceDate'])

# Apply encoding and scaling, ensuring Customer ID is excluded
processed_df = encode_and_scale(engineered_data_copy, categorical_columns, exclude_columns)

# Display the shape and sample of the processed DataFrame
print(f"Processed data shape: {processed_df.shape}")
print("\nProcessed data sample:")
print(processed_df.head())

Processed data shape: (508415, 58)

Processed data sample:
   Customer ID  Quantity     Price      Year     Month       Day      Hour  \
0      13085.0  0.008885  0.023143 -3.260646  1.287125 -1.638143 -2.467093
1      13085.0  0.008885  0.021587 -3.260646  1.287125 -1.638143 -2.467093
2      13085.0  0.008885  0.021587 -3.260646  1.287125 -1.638143 -2.467093
3      13085.0  0.351590 -0.014587 -3.260646  1.287125 -1.638143 -2.467093
4      13085.0  0.123120 -0.021200 -3.260646  1.287125 -1.638143 -2.467093

   DayOfWeek  IsWeekend  IsBusinessHour  TotalQuantity  AvgPrice  \
0   -0.77818  -0.408131       -4.668051      -0.260902 -0.004526
1   -0.77818  -0.408131       -4.668051      -0.260902 -0.004526
2   -0.77818  -0.408131       -4.668051      -0.260902 -0.004526
3   -0.77818  -0.408131       -4.668051      -0.260902 -0.004526
4   -0.77818  -0.408131       -4.668051      -0.260902 -0.004526

   TransactionCount  TotalAmount  ReturnRate  AvgTransactionValue  \
0         -0.455361     0.440357   -0.064725             0.007159
1         -0.455361     0.423704   -0.064725             0.006851
2         -0.455361     0.423704   -0.064725             0.006851
3         -0.455361     0.561089   -0.064725             0.009394
4         -0.455361     0.069833   -0.064725             0.000301

   Quantity_Price_Interaction  MonthEnd  QuarterEnd  StockCode_bin_0  \
0                    0.440357 -0.181493   -0.106963        -0.329174
1                    0.423704 -0.181493   -0.106963        -0.329174
2                    0.423704 -0.181493   -0.106963        -0.329174
3                    0.561089 -0.181493   -0.106963        -0.329174
4                    0.069833 -0.181493   -0.106963        -0.329174

   StockCode_bin_1  StockCode_bin_2  StockCode_bin_3  StockCode_bin_4  \
0        -0.535431        -0.685536        -0.783418        -0.953999
1        -0.535431        -0.685536        -0.783418        -0.953999
2        -0.535431        -0.685536        -0.783418        -0.953999
3        -0.535431        -0.685536        -0.783418        -0.953999
4        -0.535431        -0.685536        -0.783418        -0.953999

   StockCode_bin_5  StockCode_bin_6  StockCode_bin_7  StockCode_bin_8  \
0        -0.915838        -0.950994        -0.950574         -0.98865
1        -0.915838        -0.950994        -0.950574         -0.98865
2        -0.915838        -0.950994        -0.950574         -0.98865
3        -0.915838        -0.950994        -0.950574         -0.98865
4        -0.915838        -0.950994        -0.950574         -0.98865

   StockCode_bin_9  StockCode_bin_10  StockCode_bin_11  StockCode_bin_12  \
0        -1.022541         -1.021978         -0.994122         -1.030643
1        -1.022541         -1.021978         -0.994122          0.970268
2        -1.022541         -1.021978          1.005912         -1.030643
3        -1.022541         -1.021978          1.005912          0.970268
4        -1.022541          0.978495         -0.994122         -1.030643

   Country_bin_0  Country_bin_1  Country_bin_2  Country_bin_3  Country_bin_4  \
0      -0.033117      -0.101861      -0.122404       -0.22424      -0.166386
1      -0.033117      -0.101861      -0.122404       -0.22424      -0.166386
2      -0.033117      -0.101861      -0.122404       -0.22424      -0.166386
3      -0.033117      -0.101861      -0.122404       -0.22424      -0.166386
4      -0.033117      -0.101861      -0.122404       -0.22424      -0.166386

   Country_bin_5  Invoice_bin_0  Invoice_bin_1  Invoice_bin_2  Invoice_bin_3  \
0      -0.227152      -0.743455      -0.674926       -1.00422      -0.992641
1      -0.227152      -0.743455      -0.674926       -1.00422      -0.992641
2      -0.227152      -0.743455      -0.674926       -1.00422      -0.992641
3      -0.227152      -0.743455      -0.674926       -1.00422      -0.992641
4      -0.227152      -0.743455      -0.674926       -1.00422      -0.992641

   Invoice_bin_4  Invoice_bin_5  Invoice_bin_6  Invoice_bin_7  Invoice_bin_8  \
0      -0.986995      -0.962056      -0.982752      -0.981839      -0.999518
1      -0.986995      -0.962056      -0.982752      -0.981839      -0.999518
2      -0.986995      -0.962056      -0.982752      -0.981839      -0.999518
3      -0.986995      -0.962056      -0.982752      -0.981839      -0.999518
4      -0.986995      -0.962056      -0.982752      -0.981839      -0.999518

   Invoice_bin_9  Invoice_bin_10  Invoice_bin_11  Invoice_bin_12  \
0      -0.993431       -0.990562       -0.990149       -0.998155
1      -0.993431       -0.990562       -0.990149       -0.998155
2      -0.993431       -0.990562       -0.990149       -0.998155
3      -0.993431       -0.990562       -0.990149       -0.998155
4      -0.993431       -0.990562       -0.990149       -0.998155

   Invoice_bin_13  Invoice_bin_14  IsReturned_bin_0  Season_bin_0  \
0       -1.005327       -0.994169         -0.064725     -1.092806
1       -1.005327       -0.994169         -0.064725     -1.092806
2       -1.005327       -0.994169         -0.064725     -1.092806
3       -1.005327       -0.994169         -0.064725     -1.092806
4       -1.005327       -0.994169         -0.064725     -1.092806

   Season_bin_1  DayPeriod_bin_0  DayPeriod_bin_1
0     -1.109361          -0.1728        -1.472028
1     -1.109361          -0.1728        -1.472028
2     -1.109361          -0.1728        -1.472028
3     -1.109361          -0.1728        -1.472028
4     -1.109361          -0.1728        -1.472028